@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
*
/*-----------------Landing Page------------------*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tenor Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    width: 100px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;  
}
header ul li {
    list-style: none;
    margin: 10px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
}
header ul li a:hover {
    background: white;
    color: #425552;
}
section{
    background: linear-gradient(#A7CECB,#425552);
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.quote_div{
    width: 60vw;
}
#quote{
    position: relative;
    color: white;
    font-size: 6.5vh;
}
#autor{
    position: relative;
    color: white;
    white-space: nowrap;
    margin-left: 20px;
}
#leaves{
    height: 120vh;
    object-position: 0%;
    top: -200px;
}

/*-----------------über mich------------------*/

.uebermich{
    background: #425552;
}



