@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
*
/*-----------------Landing Page------------------*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tenor Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: right;
    align-items: center;
    z-index: 10000;
}

.logo{
    position: sticky;
    width: 125px;
    top: 0;
    z-index: 2;
    margin-left: 1rem;
    top: 20px;
    height: 0;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;  
}

header ul li {
    list-style: none;
    margin: 10px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
    border-radius: 20px;
    font-size: 1.2rem;
    white-space: nowrap;
}

header ul li a:hover {
    background: white;
    color: #425552;
}

.arrow-container{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -moz-animation: bounce 6s infinite linear;
    -o-animation: bounce 6s infinite linear;
    -webkit-animation: bounce 6s infinite linear;
    animation: bounce 6s infinite linear;
}

.arrow-icon{
    width: 50px;
    height: 50px;
}

section{
    background-color: white;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 5%;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerdiv{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.headerimage{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    content:url("./images/cover_desktop2.png");
}
.quote_div{
    align-self: flex-end;
    width: 60vw;
    margin-bottom: 5vh;
    z-index: 5000;
}

#quote{
    position: relative;
    color: white;
    font-size: 6.5vh;
}

#autor{
    position: relative;
    color: white;
    white-space: nowrap;
    margin-left: 20px;
}

.small-header {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #2D6A4F;
    padding-left: 0.5rem;
}

.text {
    position: relative;
    display: block;
    font-size: 1.5rem;
    color: #2D6A4F;
    padding-left: 0.5rem;
}
.bodysection{
    height: auto;
    justify-content: space-between;
    display: flex;
}
/*-----------------über mich------------------*/
#uebermich{
    padding-top: 5%;
}
#ivana-bild {
    float: left;
    width: 35vw;
    margin-right: 50px;
    margin-bottom: 2rem;
    object-fit: contain;
    border-radius: 10px;
    opacity: 90%;
}

#greeting-header {
    margin-bottom: 2rem;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 4rem;
    line-height: 0.96;
    color: #2D6A4F;
}



/*-----------------Coaching------------------*/
.image-container{
    width: 50vw;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

#coaching-text{
    margin-right: 5rem;
}
#coaching-gespräche{
    width:50vw;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#landschaft-gespraech{
    margin-left: 10rem;
    max-height: 600px;
    width: 30vw;
    border-radius: 10px;
    opacity: 90%;
}

/*------------------Preise und Termine ------------------*/
#preise {
    flex-wrap: wrap;
}
#Preisschild {
    margin-top: 1rem;
    width: 70vw;
    margin-left: 10vw;
}
.Preise-Hintergrund{
    display: flex;
    justify-content: center;
    width: 15rem;
    background-color: #69b9926e;
    border-radius: 1rem;
}

.bank-image-container{
    width: 100vw;
    margin-left: -5vw;
}

#bank-bild{
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    min-height: 250px;
    width: 100vw;
    opacity: 90%;
}

.preis-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.misc-container{
    cursor: pointer;
    margin-left: 5rem;
    margin-right: 5rem;
}
#Kontakt{
    margin-top: -5px;
    padding-top: 3vh;
    flex-direction: column;
    height: auto;
    background-color:#69b9926e;
}

/*-----------------Responsiv------------------*/
@media screen and (max-width: 480px) {
    .logo{
        display: none;
    }
    .headerimage{
        content:url("./images/cover_mobile2.png");
    }
    .quote_div{
        margin-bottom: 8vh;
    }
    #quote {
        font-size: 3vh;
    }
    header {
        flex-wrap: wrap;
        justify-content: center;
    }
    #l1 {
        object-position:calc(50% - 200px) 50%;
    }
    .bodysection{
        flex-wrap: wrap;
    }
    #about-me-text-section{
        margin-left: 0;
        margin-top: 3rem;
    }
    #uebermich{
        justify-content: center;
    }
    #ivana-bild {
        display: flex;
        float:none;
        width: 70vw;
        height: auto;
        margin-right: 0;
    }
    .picture_div{
        display:flex ;
        justify-content: center;
    }
    .about-me-text{
        font-size: 1.1rem;
    }
    #greeting-header {
        font-size: 2.3rem;
    }
/*-----------------Coaching------------------*/
    #landschaft-ueberlappt{
        display: none;
    }
    #coaching-gespräche {
        width: 100vw;
    }
    .text{
        font-size: 1rem;
    }
    #coaching-text{
        margin-right: 0rem;
    }
    .image-container{
        width: 100vw;
    }
    #landschaft-gespraech{
        width: 90vw;
        margin-left: 0vw;
    }
    .preis-block{
        flex-direction: column;
        justify-content: center;
    }
}
@media screen and (max-width: 820px) and (min-width:481px) {
    /*-----------------über mich------------------*/
    #header-start{
        justify-content: center;
    }
    .logo{
       display: none;
    }
    #quote {
        font-size: 4vh;
    }
    #uebermich {
        padding-top: 10rem;
    }
    #ivana-bild {
        align-self: flex-end;
    }
    #übermich {
        position: absolute;
        top: 2rem;
        left: 5rem;
    }
    #greeting-header {
        position: absolute;
        top: 4.5rem;
        left: 5rem;
    }

    #landschaft-gespraech {
        width: 100vw;
    }
    .text{
        font-size: 1rem;
    }
    #coaching-text{
        margin-right: 0rem;
    }
    #landschaft-gespraech{
        width: 42vw;
    }
    /*-----------------Termine------------------*/    
    .preis-block{
        flex-direction: column;
        justify-content: center;
    }
    .Preise-Hintergrund{
        margin: 0.5rem;
    }


}