:root{
    font-size: clamp(12px, 1vw, 16px);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.page_container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

.navbar.start{
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0;
    top: none;
    background-color: transparent;
}
.navbar{
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #A7CECB;
    color: white;
}
.home{
    background-color: aqua !important;
}

.logo{
    left: 0;
    width: 0rem;
    height: 2rem;
    margin: .5rem;
    opacity: 0;
}
.logo_home{
    position: fixed;
    margin: .5rem;
    width: 2rem;
    height: 2rem;
    top: 0;
    left: 0;
    display: flex;
    transition: all 0.3s ease-in-out;
}
.Navbar-links{
    transition: all .5s ease-in;
}
.Navbar-links.start{
    transition: none .5s ease-in;
}
.Navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.Navbar-links li{
    list-style: none;
}
.Navbar-links a{
    font-family: 'Tenor Sans', sans-serif;
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.Navbar-links li:hover{
    background-color: #555;
}
.toggle {
    position: fixed;
    right: 1rem;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    cursor: pointer;
    height: 40px;
    transition: all .5s ease-in-out;
}
.Burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 3px;
    background: transparent;
    border-radius: 2px;
    transition: all .5s ease-in-out;
}
.Burger::before,
.Burger::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 2px;
    transition: all .5s ease-in-out;
}
.Burger::before{
    transform: translateY(-6px);
}
.Burger::after{
    transform: translateY(6px);
}
.toggle.open .Burger {
    transform: translateX(-50px);
    background: transparent;
}
.toggle.open .Burger::before{
    transform: rotate(45deg) translate(35px,-35px);
}
.toggle.open .Burger::after{
    transform: rotate(-45deg) translate(35px,35px);
}

.fwh-slide{
    height: 100vh;
    background: white;
    box-sizing: border-box;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.fwh-slide-body{
    height: 100vh;
    background: white;
    box-sizing: border-box;
    scroll-snap-align: start;
}
.fwh-slide--bg-grey{
    background: #425552;
}
.heading1{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 0.9rem;
    color: #93B6B3;
    padding-left: 0.5rem;
}
.heading2{
    margin: auto;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 4rem;
    line-height: 0.96;
    color: #A7CECB;
    grid-area: 2 / 1 / 2 / 1;
}

.heading3{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 5rem;
    line-height: 0.96;
    color: #A7CECB;
}
.heading4{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 5rem;
    line-height: 0.96;
    color: #A7CECB;
}
.text{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.25rem;
    color: #93B6B3;
    padding-top: 2rem;
    padding-left: 0.5rem;    
}
.subline{
    font-family: 'Tenor Sans', sans-serif;
    font-size: 0.9rem;
    color: #93B6B3;
    padding-left: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 0.8rem;
}

.text2{
    grid-area: 2 / 1 / 2 / 8;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.25rem;
    color: #93B6B3;
    padding-top: 0rem;
    padding-left: 0.5rem;
    
}

.block--about{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: max(3%, 1.5rem);
    grid-row-gap: max(3%, 1.5rem);
    padding: clamp(1rem, 1vw, 4rem);
    padding: 2.5rem;
    align-items: center;
    }

.about--picture { 
    display: flex;
    align-content: center;
    grid-area: 2 / 2 / 6 / 5;
    width: clamp(124px, 100%, 500px);
}
    
.about--header { 
    grid-area: 2 / 5 / 3 / 9; 
    margin-bottom: 2rem;
}

.first-about-text{
    grid-area: 3 / 5 / 4 / 9;
}

.second-about-text{
    grid-area: 4 / 5 / 6 / 9;
}
   
.block--coaching {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 2.5rem;
    padding-top: 4rem;
    align-items: center;
    }

.coaching--text { 
    grid-area: 2 / 2 / 4 / 5; }

.coaching--bild1 {
    grid-area: 2 / 6 / 4 / 10;
    }
.coaching--bild2 {
    grid-area: 2 / 8 / 6 / 10; 
    width: 100%; 
    }

.coaching--bild3 { 
    grid-area: 2 / 6 / 4 / 9;
}

.text2 {
    grid-area: 4 / 3 / 6 / 7;
}

.preise {
    grid-area: 4 / 5 / 6 / 9;
}


.vertical-stack{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-area: 4 / 7 / 6 / 10; 
}

.horizontal-stack{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.block--preise{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: max(3%, 1.5rem);
    grid-row-gap: max(3%, 1.5rem);
    padding: 4rem;
}

.coaching--preise{
    grid-area: 2/2/4/6;
}

.preis--infotext{
    grid-area: 4/5/6/10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}

.block--kontakt{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 4rem;
}
.text_bg {
    background-color: #fff;
}

.container_preise {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.kontaktformular {
    margin-top: 3rem;
    grid-area: 2/3/6/8;
    width: 100%;
    height: 100%;
}

.kontakt-nachricht {
    grid-area: 1 / 1 / 2 / 10;
}


@media only screen and (max-height: 800px){
    .coaching--text{
        grid-area: 1 / 2 / 4 / 6;
        padding-top: 2rem ; 
    }
    .text2 {
        grid-area: 4 / 3 / 6 / 8;
    }
    .first-about-text{
        grid-area: 2 / 5 / 3 / 10;
    }
    .about--header { 
        grid-area: 1 / 5 / 2 / 9; 
        padding-top: 1.5rem;
    }
    .second-about-text{
        grid-area: 3 / 5 / 5 / 10;
    }
    .about--picture { 
        display: flex;
        align-content: center;
        grid-area: 1 / 2 / 5 / 5;
        width: clamp(124px, 100%, 500px);
    }
    .block--about{
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(4, 1fr);
        }
    
    .fwh-slide {
        scroll-snap-align: none;
    }
    .fwh-slide-body{
        height: auto;
        scroll-snap-align: none;
    }
}



@media only screen and (max-width: 600px) {
    .page_container {
        scroll-snap-type: none;
        overflow-y: scroll;
        height: 100vh;
    }
    
    .toggle {
        display: flex;
    }
    .Navbar-links {
        height: 0;
        overflow: hidden;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .Navbar-links ul{
      width: 100%;
      flex-direction: column;
      justify-content: space-between;

    }
    .Navbar-links li {
        display: flex;
        text-align: center;
        border-bottom: 1px solid;
        border-color: #555;
        height: 150px;
        align-items:center ;
        justify-content: center;
    }
    .first {
        margin-top: 25%;
        border-top: 1px solid;
        border-color: #555;
    }
    .Navbar-links li a {
        font-size: 2rem;
        padding-top: 56px; 
        width: 100%;
        height: 100%;
    }
    .Navbar-links.active {
        height: 100vh;
        background-color: #A7CECB;
        transition: all 0.3s ease-in-out;
    }
    .Navbar-links li:hover{
        background-color: transparent;
    }
    .logo_home.start{
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .fwh-slide {
        scroll-snap-align: none;
    }
    .fwh-slide-body{
        height: auto;
        scroll-snap-align: none;
    }
    .block--about{
        display: flex;
        flex-wrap: wrap;

    }
    .text {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .text2 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .about--text { 
        display: flex;
        order: 1;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .about--picture {
        order: 2;
        display: flex;
    }
    .block--coaching {
        display: flex;
        flex-wrap: wrap;
    }
    .coaching--text {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .heading3{
        font-size: 15vw;
    }
    .coaching--bild1 { 
        display: flex; 
        margin-top: 2rem;
        }
    .coaching--bild2 { 
        display: none;
        }
    
    .coaching--bild3 { 
        display: flex; 
    }
    .block--preise{
        display: flex;
        flex-wrap: wrap;
    }
    .block--kontakt {
        display: flex;
        flex-wrap: wrap;
    }
    .heading4{
        font-size: 6vw;
    }
    .text_bg {
        background-color: rgb(77, 116, 114);
    }
    .container_preise {
        flex-wrap: wrap;
    }
    .preisebg{
        background-color: aquamarine;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding: 0.5rem;
    }
    .preisebgo{
        background-color: aquamarine;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        padding: 0.5rem;
    }
    .preise{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .textpreise{
        font-family: 'Tenor Sans', sans-serif;
        font-size: 1.25rem;
        color: #93B6B3;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-left: 0.5rem;    
    }
    .textpreiseu{
        font-family: 'Tenor Sans', sans-serif;
        font-size: 1.25rem;
        color: #93B6B3;
        padding-top: 0.3rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;    
    }

    .preis--infotext{
        margin: auto;
    }
    
}
