@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
*
/*-----------------Landing Page------------------*/
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tenor Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    width: 100px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;  
}
header ul li {
    list-style: none;
    margin: 10px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #2D6A4F;
    border-radius: 20px;
}
header ul li a:hover {
    background: white;
    color: #425552;
}
section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parallax-image{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.quote_div{
    width: 60vw;
    margin-bottom: 20vh;
}

#quote{
    position: relative;
    color: #2D6A4F;
    font-size: 6.5vh;
}

#autor{
    position: relative;
    color: #2D6A4F;
    white-space: nowrap;
    margin-left: 20px;
}

/*-----------------über mich------------------*/

.uebermich{
    background: white;
}

#about-me-text-section {
    margin-top: 10rem;
    margin-left: 5rem;
    margin-bottom: 20vh;
}

#ivana-bild {
    float: left;
}

.about-me-header {
    font-size: 0.9rem;
    color: #2D6A4F;
    padding-left: 0.5rem;
}

#greeting-header {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 4rem;
    line-height: 0.96;
    color: #2D6A4F;
}

.about-me-text {
    position: relative;
    display: block;
    font-size: 1.5rem;
    color: #2D6A4F;
    padding-left: 0.5rem;
}



